body {
  font-family: 'Zilla Slab', serif;
}

.box {
  background: linear-gradient(-45deg, #f6d365, #fda085);
}

.oscillating-box {
  background: rgb(130, 181, 198);
  width: 50px;
  height: 50px;
  top: 0;
}

.oscillating-box-track {
  height: 50px;
  width: 300px;
  background: #ececec;
}

.cursor-pointer {
  cursor: pointer;
}

.main-nav .nav-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.main-nav {
  width: 15rem;
}

.floating-action-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.floating-action-button:hover {
  opacity: 0.9;
}
